@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*헤더*/
header{
    z-index: 2;
    width: 100%;
    height:96px;
    position: fixed;
}
.headerbox{
    display: block;
    margin: auto;
    width:92% ;
    height:100%;
}

.headerbox .continar{
    width: 96%;
    margin: auto;
    height:100%;
    display: flex;
}
/*헤더에 들어가는 로고*/
#head_logo{
    flex-grow: 1;
}
.headerbox .continar .head_logo a{
    width:60px;
    height: 90px;
    display: flex;
    color:#FCFEFF;
    text-decoration: none;
    text-indent: -9999px;

}
.headerbox .continar .head_logo a img{
    width: 50px;
    height: 50px;
    margin: auto;
}
/*헤더에 들어가는 네비게이션*/
.headerbox .continar ul.h_content{
    width:564px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 36px;
}
.headerbox .continar ul li {
    width: 33.3%;
    height: 28px;
    border-left:#FCFEFF solid 1px;
    /*text-decoration: none;*/
    display: flex;
    justify-content: space-between
}

.headerbox .continar .h_content li a{
    color:#FCFEFF;
    text-decoration: none;
}
/*
.headerbox .continar .h_content li p{
    width: 2px;
    height: 28px;
    border: #021001 solid 1px;
}*/
#h_About, #h_Star, #h_Contact{
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    text-align: center;
    margin: auto;
    align-items: center;
}
#lih_Contact{
    border-right:#FCFEFF solid 1px ;
}

/* main video contnt*/
section.main_content{
    z-index: 1;
    width: 100%;
    height: 832px;
    margin: auto;
    position: relative;
}
section.main_content video{
    width: 110%;
    margin: auto;
    
}
section.main_content .maintext {
    display: flex;
}
section.main_content .maintext h1{
    z-index: 3;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    color: white;
    position: relative;
    left: 300px;
    top :-670px;
}